
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

@media(max-width:1000px) {
#intro {
  padding-top: 60px;

}
}

.intro-section {
  padding-top: 150px;
  text-align: center;
  background: url(http://www.wallpaperup.com/uploads/wallpapers/2013/04/02/69446/ba7112bbfc78e012e2ce7e1b0c3bb655.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color:white;
}

.about-section {
    text-align: center;
    background-color: #e74c3c;
    font-size:25px;
    padding-bottom: 450px;
    padding-top: 70px;
}

.services-section {
    text-align: center;
    background: url(http://www.wallpaperup.com/uploads/wallpapers/2013/04/02/69446/ba7112bbfc78e012e2ce7e1b0c3bb655.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: #27ae60;*/
    padding-bottom: 300px;
    padding-top: 40px;
    color: white;


}

#contact {
    text-align: center;
    background-color: #2980b9;
    font-size:25px;
    color: white;
    padding-bottom: 360px;
    padding-top: 160px;
}

html {
  width: 100%;
  height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.navbar-default {
   background-color: rgba(200,200,200,.6);
   font-size: 15px;
   padding-top: 0px;
   padding-bottom: 0px;

 }

#welcome {
  font-size: 30px;
}
.btn {
   border-radius: 0;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.btn-default {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 50px;
   }
.btn-default:hover {
  color: #2980b9;
}
#project1 {
  height: 300px;
  background-image: url("http://i.imgur.com/pvWjJYB.jpg");
  background-position: left;
  background-size: cover;
  margin-bottom: 50px;
  margin-top: 0px;
  border: solid white 2px;
}
#project2 {
  background-image: url("http://i.imgur.com/mSrNpRY.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: solid white 2px;
}
#project3 {
  background-image: url("http://i.imgur.com/y9FNsdh.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: solid white 2px;
}
#aboutme {
  margin-bottom: 100px;
}
.aboutwords{
  margin-top: 50px;
  margin-bottom: 50px;

}
.footer {
  margin-top: 80px;
  font-size: 60px;
}



